allign.sh 
*swp
*tgz
*embeddedPrint
*test.cpp
*embeddedPrintShrinked
*embeddedPrintShrinkedStriped
*embeddedPrintStriped
*embeddedPrint2
*embeddedPrintShrinked2
*embeddedFileShrinked
*samplefile.txt
*embeddedGetc

